<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Інформація про путівки</h1>
        <div style="padding: 20px; border: solid medium black; font-size: 10pt">
                @RenderBody()
            </div>
        </div>
</body>
</html>
